{% extends "base.html" %}

{% load dict_extras %}

{% block content %}
    <nav aria-label="breadcrumb mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz:profile' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'quiz:edit-quiz' quiz_id=quiz_id %}">Quiz</a></li>
            <li class="breadcrumb-item active" aria-current="page">Round</li>
        </ol>
    </nav>
    <h1 class="text-center">Edit Round</h1>
    <hr>
    <h2>General</h2>
    <form action="{% url 'quiz:edit-round' quiz_id=quiz_id round_id=round_id %}" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="round-name-input">Round Name</label>
            <input name="name" type="text" class="form-control" id="round-name-input" value="{{ round.name }}">
            <small>The name of this round</small>
        </div>
        <div class="form-group">
            <label for="round-type-input">Round Type</label>
            <input name="type" type="text" class="form-control" id="round-type-input" disabled value="{{ round.type }}">
        </div>
        <div class="form-group">
            <label for="round-number-input">Round Number</label>
            {% if round.round_number %}
                <input name="round_number" type="number" class="form-control" id="round-number-input" disabled value="{{ round.round_number }}">
            {% else %}
                <input name="round_number" type="number" class="form-control" id="round-number-input" value="{{ round.round_number }}">
            {% endif %}
        </div>
        <div class="form-action">
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </form>
    <hr>
    {% if round.type == RoundType.SEQUENTIAL %}
        {% include './rounds/sequential.html' %}
    {% elif round.type == RoundType.BOARD %}
        {% include './rounds/board.html' %}
    {% endif %}
{% endblock content %}