<table class="table table-hover table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Info</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for qs in question.slides %}
            <tr>
                <th scope="row">{{ qs.slide_number }}</th>
                <td>
                    <div class="collapse show slide-{{ qs.id }}-collapse" id="slide-{{ qs.id }}-view">
                        {% include './view.html' with slide=qs.slide %}
                    </div>
                    <div class="collapse slide-{{ qs.id }}-collapse" id="slide-{{ qs.id }}-edit">
                        {% include './edit.html' with slide=qs.slide %}
                    </div>
                </td>
                <td>
                    <form id="slide-{{ qs.id }}-delete" class="col-6" action="{% url 'quiz:delete-slide' quiz_id=quiz_id round_id=round_id question_id=question_id slide_id=qs.id %}" method="POST">{% csrf_token %}</form>
                    <button type="button" class="btn badge badge-info" data-toggle="collapse" data-target=".slide-{{ qs.id }}-collapse">Edit</button>
                    <button type="submit" form="slide-{{ qs.id }}-delete" class="btn badge badge-danger">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form class="form-inline" action="{% url 'quiz:create-slide' quiz_id=quiz_id round_id=round_id question_id=question_id %}" method="POST">{% csrf_token %}
    <select class="custom-select my-1 mr-sm-2" name="type" id="slide-type-select" required>
        <option value="" selected>Slide type</option>
        {% for value, label in slide_types.items %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-info">Add Slide</button>
</form>